.container {
    margin: 10px;
    padding: 10px;
}

.errorBox{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

.errorBox img{
    width: 300px;
    height: 300px;
}