* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#headingContainer {
    background-color: chocolate;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#heading2{
    color: white;
}
#heading3{
    color: yellow;
}
#heading4{
    color: pink;
}