* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--bg-black);
}

*::selection {
  background: #3d9b6d;
  color: white;
}

:root {
  --bg-primary: #9ED2BE;
  --bg-white: #fff;
  --bg-black: #000;
  --bg-main: #fff0f570;
  --bg-secondary: #494949;
}

p {
  margin-bottom: none;
}

body {
  background-color: var(--bg-main);
}


/* Header component start */
header {
  width: 100%;
  height: 60px;
  background-color: var(--bg-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.logo>a>img {
  height: 70px;
  /* border-radius: 30px; */
}

.navItems>ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
  /* font-size: 20px; */
}

.linkContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
}


.cartIcon,
.home {
  font-size: 25px;
  color: var(--bg-secondary);
}

.online {
  font-size: 23px;
}

.profileIcon {
  font-size: 20px;
  color: var(--bg-secondary);
  border: 2px solid var(--bg-secondary);
  padding: 5px;
  border-radius: 50%;
}

.authenticationIcon {
  color: var(--bg-secondary);
  font-size: 25px;
}

.linkContainer:hover {
  border-bottom: 5px solid #3d9b6d;
  margin-top: 5px;
  border-radius: 4px;
}

.cartIcon:hover,
.home:hover,
.profileIcon:hover,
.authenticationIcon:hover {
  color: var(--bg-black);
  border-color: var(--bg-black);
}

.instamart {
  font-size: 18px;
}

/* Header component end */


/* body component starts  */
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* padding: 40px; */
  background-color: var(--bg-main);
}

/* body component ends  */



/* Card css starts */
.resCard {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 300px;
  height: 350px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-white);
  overflow: hidden;
}

.resCard:hover {
  cursor: pointer;
}

.resCard:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.resCard img {
  height: 200px;
}

.rating {
  background-color: black;
  color: white;
  padding: 0 4px;
  font-size: 12px;
}

/* Card css ends */

/* search componrnt start  */
.search-container {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


.search-container input {
  width: 500px;
  height: 50px;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: none;
  color: var(--bg-black);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 20px;
  cursor: text;
}

.search-container input::placeholder {
  color: var(--bg-black);
  font-size: 15px;
}

.search-container button {
  background-color: var(--bg-white);
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 15px;
  cursor: pointer;
}

/* search componrnt ends  */



/* footer style start   */

.footer {
  margin-top: 40px;
  width: 100%;
  /* height: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(188, 181, 181);
  padding-bottom: 120px;
}

.footer p {
  font-size: 25px;
  color: var(--bg-black);
  font-weight: 700;
}

/* footer style ends */





/* media query  */
@media only screen and (max-width: 768px) {
  header {
    padding: 0 30px;
    /* position: static; */
  }

  .instamart {
    display: none;
  }

  .navItems ul {
    gap: 15px;
  }

  .main {
    padding-top: 20px;
  }

  .search-container {
    padding-top: 20px;
  }

  .search-container input {
    width: 220px;
    height: 40px;
    font-size: 18px;
  }

  .search-container button {
    width: 70px;
    color: var(--bg-black);
    height: 40px;
    font-size: 15px;
  }

  .linkContainer p {
    display: none;
    border: none;
  }

  .linkContainer:hover {
    border: none;
    margin: 0;
    border-radius: 0;
  }
}